<table class="table table-striped table-bordered">
    <thead align="center">
        <tr>
            <th>Raf</th>
            <th>Raison Sociale</th>
            <th>Bucket</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of tiersItems">
            <td>{{ item.raf }}</td>
            <td>{{ item.name }}</td>
            <td align="center" [ngClass]="(item.doubtful === true ? 'red-text' : 'green-text')">{{ decodeBucket(item.doubtful) }}</td>
            <td align="center" [ngClass]="(item.active === true ? 'green-text' : 'red-text')">{{ decodeStatus(item.active) }}</td>
            <td align="center">
                <button class="btn btn-sm btn-success" (click)="whenUpdMode(item)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                    Update
                </button>&nbsp;
                <button class="btn btn-sm btn-danger" (click)="whenDelete(item.raf)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
